# Pengaturan Website
PORT=3000
WEBHOOK_PATH=/webhook
PIN=1122

# Pengaturan Cloud
CLOUDFLARE_URL=https://your-tunnel.example.com
CF_TUNNEL=false
CF_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here

# Meta WhatsApp Cloud API credentials
WA_ACCESS_TOKEN=your_whatsapp_access_token_here
WA_PHONE_NUMBER_ID=your_phone_number_id_here

# Landingpage configuration env
BOT_PHONE_NUMBER=629828492849
